/* * { border: red dashed 1px } */

.homeMain {
    min-height: 100vh;
    background-color: #282c34;
    color: white;
}

.homeBody {
    border: white 2px solid;
}

.headerMain {
    height: 100px;
    background-color: black;
    border: white 2px solid;
}